src/frontend/components/error_message.tsx
src/frontend/components/footer.tsx
src/frontend/components/navbar_button.tsx

src/frontend/pages/about.tsx
# src/frontend/pages/flycoin_reports.tsx
src/frontend/pages/signup.tsx